.notification {
    border: 4px solid green;
    border-radius: 5px;
    background: lightgray;
    padding: 1em;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bold;
    color: green;
}

.error {
    border: 4px solid red;
    border-radius: 5px;
    background: lightgray;
    padding: 1em;
    margin-bottom: 2em;
    font-size: 20px;
    font-weight: bold;
    color: red;
}